@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bangers", system-ui;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/imgs/background-maki.jpg);
  background-position: center;
  background-size: cover;
  font-size: 16px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* overflow-x: hidden; */
}

/* HEADER */

header .container {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-self: center;
  padding: 15px 0px 15px 0px;
  background-color: #00000067;
}

header .content {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header a:hover {
  text-decoration: none;
  color: #800080;
}

.selected {
  font-weight: 800;
  color: #800080;
}

header .container .title {
  font-size: 3rem;
}

.title {
  font-weight: 400;
  color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  font-size: 2rem;
  font-weight: 400;
}

/* LOGIN */

.login-session {
  /* border: solid 2px red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px #ffffff;
  border-radius: 25px;
  width: 30%;
  height: 45%;
  background-color: #6e56b0a4;
  gap: 10px;
}

.login-container h1 {
  color: antiquewhite;
  font-weight: 400;
  font-size: 3rem;
}

.field {
  border: solid 2px #ffffff;
  border-radius: 25px;
  padding: 10px;
  background-color: #6e56b041;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "Bangers", system-ui;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}

.login-container button {
  width: 43%;
  height: 15%;
  border-radius: 25px;
  font-size: 1.5rem;
  background-color: #800080;
  border: solid 2px #ffffff;
  cursor: pointer;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-container button:hover {
  background-color: #6e56b0;
}

label {
  color: #ffffff;
  font-size: 2rem;
}
