footer {
  background: linear-gradient(#def0f7, #8fcce6);
  padding-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 50%;
}
h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
  font-size: 1.5rem;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover {
  color: #f18930;
}
